@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 100;
    background-color: aliceblue;
}

.nav_icon{
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-bottom: .5rem;
} 
.nav_icon img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}
.nav_text{
    margin: auto;
    font-family: "Poppins" sans-serif;
    font-size: 2rem;
    color: rgb(43, 172, 172);
    text-decoration: overline;
    
    
}
.nav_links{
    display: flex;
    gap: 4rem;
}
.nav_links a{
    text-decoration: none;
    color: rgb(87, 84, 84);
    font-size: larger;
}
.hero{
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./assets/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.hero_content{
    display: flex;
    flex-direction: column;
}
.hero_content h1{
    color: white;
    font-family: "Poppins",sans-serif;
    font-size: 4rem;
}
.search{
    display: flex;
    justify-content: center;
}
.hero_content input{
    width: 20rem;
    height: 2rem;
    font-size: large;
}
.hero_content img{
    cursor: pointer;
    width: 2rem;
    height: 1.5rem;
    margin-top: .3rem;
    margin-left: -2rem;
}
.homes{
    display: flex;
    flex-direction: column;
}
.amenities{ 
    width: 100%;
    background-color: #728495;
    border-radius: 10px;
}

.amenities_title{
    display: flex;
    justify-content: center;
    font-family: "Dancing Script", cursive;
    font-size: 4rem;
    font-weight: bold;
    height: 10vh;
    margin-bottom: 1rem;
}
.amenities_details{
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
}
.amenities_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    height: 30vh;
    background-color: azure;
    border-radius: 2rem;
    box-shadow: 10px 10px lightblue;

}
.amenities_content h2{
    font-size: 2rem;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}
.amenities_content img{
    border: 2px rgb(14, 6, 20) solid;
    margin-top: 1rem;
    width: 6rem;
    padding: .5rem;
    border-radius: 50%;
}
.amenities_content p{
 text-align: center;
 margin: 1rem;
 font-size: 1.5rem;
}
.homes{
    display: flex;
    margin-top: 3rem;
    border: 2px red solid;
    width: 100%;
}
.homes_title{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.homes_title h1{
    font-family: "Poppins" , sans-serif;
    font-size: 2rem;
}
.homes_title p {
    font-family: "Dancing Script ", cursive;
    line-height: 1rem;
}
